// Colores
$primary-color: #ff0000;
$secondary-color: #1a1a1a;
$background-overlay: rgba(255, 255, 255, 0.7);
$text-color: white;
$text-secondary: #333;
$border-color: rgb(228, 228, 228);
$hover-color: #c300ff;
$card-bg: white;
$shadow-color: rgba(0, 0, 0, 0.2);
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
$background-do: #0193f5;
$background-dc: #74c7ff;

// Fuentes
$font-stack: 'Montserrat', sans-serif;
$font-size-base: 16px;
$font-size-title: 30px;
$font-size-small: 14px;

// Espaciados
$padding-base: 10px;
$padding-large: 20px;
$gap-large: 100px;
$gap-small: 20px;

// Bordes y radios
$border-radius: 10px;
$btn-radius: 100px;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;